/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* variables */
:root {
  /* colors */
  --red: #eb5757;
  --orange: #f26e22;
  --light-orange: #ffc7a7;
  --gray: #767676;
  --light-gray: #c4c4c4;
  --white-gray: #f2f2f2;
  --white: #ffffff;
  --black: #000000;

  /* font-size */
  --font-10px: 0.625rem;
  --font-12px: 0.75rem;
  --font-14px: 0.875rem;
  --font-16px: 1rem;
  --font-18px: 1.125rem;
}

/* global settings */
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 흰배경을 확인하기 위해 색을 바꿔놓았습니다. */
body {
  background-color: rgb(194, 238, 245);
}

button {
  border: none;
  padding: 0;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/* user */
/* user-search */
.user-search {
  --user-search-profile: 50px;
  position: relative;
  margin: 1.25em 1em 0 1em;
}

.user-search .img-profile {
  width: var(--user-search-profile);
  height: var(--user-search-profile);
  border-radius: 50%;
  margin-right: 0.75em;
}

.user-search .wrap-txt {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  height: var(--user-search-profile);
}

.user-search .wrap-txt .txt-title,
.user-search .wrap-txt .txt-nickname {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.user-search .wrap-txt .txt-title {
  font-size: var(--font-14px);
  line-height: 18px;
}

.user-search .wrap-txt .txt-nickname {
  font-size: var(--font-12px);
  line-height: 15px;
  color: var(--gray);
}

/* user-search-more */
.user-search .btn-more {
  width: 18px;
  height: 18px;
  background: url(../src/s-icon-more-vertical.png) no-repeat;
  background-size: cover;
  float: right;
  margin-top: 0.313em;
}
/* end: user */

/* home */
/* home-post */
.home-post {
  --home-post-profile: 42px;
  margin: 1.25em 1em;
}

.home-post .img-profile {
  width: var(--home-post-profile);
  height: var(--home-post-profile);
  border-radius: 50%;
}
.home-post .user-search {
  margin: 0;
}

.home-post .wrap-txt {
  height: var(--home-post-profile);
}

.home-post .wrap-content {
  margin-top: 1em;
  padding-left: calc(var(--home-post-profile) + 0.75em);
}

.home-post .wrap-content .txt-content {
  margin-bottom: 1.143em;
  font-size: var(--font-14px);
  line-height: 18px;
}

.cont-preview {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.cont-preview::-webkit-scrollbar {
  display: none;
}

.cont-preview .cont-img {
  position: relative;
  display: inline-block;
  width: 304px;
  height: 228px;
  margin-right: 0.5em;
}

.cont-preview .cont-img .img-preview {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-post .wrap-content .ul-btns {
  margin-top: 1.333em;
  display: flex;
  color: var(--gray);
  font-size: var(--font-12px);
  line-height: 12px;
}

.home-post .wrap-content .ul-btns .li-btn {
  margin-right: 1em;
}

.home-post .wrap-content .ul-btns .li-btn button {
  width: 20px;
  height: 20px;
}

.home-post .wrap-content .ul-btns .li-btn .btn-likes {
  background: url(../src/icon-heart.png);
  background-size: cover;
}

.home-post .wrap-content .ul-btns .li-btn .btn-likes.on {
  background: url(../src/icon-heart-active.png);
  background-size: cover;
}

.home-post .wrap-content .ul-btns .li-btn .btn-comments {
  background: url(../src/icon-message-circle.png);
  background-size: cover;
}

.home-post .wrap-content .ul-btns .li-btn span {
  display: inline-block;
  font-size: var(--font-12px);
  line-height: 20px;
  vertical-align: top;
  color: var(--gray);
}
.home-post .wrap-content .txt-date {
  margin-top: 1.6em;
  font-size: var(--font-10px);
  line-height: 12px;
  color: var(--gray);
}
/* end: home */

/* top */
.top-basic-nav,
.top-search-nav,
.top-main-nav,
.top-upload-nav,
.top-chat-nav {
  width: 100%;
  color: var(--white);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
}

.img-left-arrow {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 0.81em 0 0.81em 1em;
}

.img-vertical {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0.75em 0.75em 0.75em 0;
}

.top-search-nav .inp-search {
  background-color: var(--white-gray);
  color: var(--light-gray);
  font-size: 0.875rem;
  padding: 0.5em 0 0.5em 0.875em;
  margin: 0.57em 0.875em 0.57em 0;
  box-sizing: border-box;
  border: none;
  border-radius: 32px;
}

.txt-main-nav {
  display: inline-block;
  font-size: 1.125rem;
  margin: 0.72em 0 0.72em 0.88em;
  color: var(--black);
}

.top-main-nav .img-search {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0.75em 1em 0.75em 0;
}

.btn-upload {
  margin: 0.5em 1em 0.5em 0;
}

.txt-chat-nav {
  display: inline-block;
  margin: 1.07em 0 1.07em 0.71em;
  font-size: 0.875rem;
  color: var(--black);
}
/* end: top */

/* buttons */
.btn-button {
  background-color: var(--orange);
  font-size: var(--font-14px);
  font-weight: 500;
}

.btn-button:disabled {
  background-color: var(--light-orange);
}

.btn-large {
  height: 44px;
  border-radius: 44px;
}

.btn-medium {
  height: 34px;
  border-radius: 30px;
}

.btn-active {
  background-color: var(--white);
  color: black;
}

.btn-ms {
  width: 90px;
  height: 32px;
  border-radius: 32px;
}

.btn-small {
  height: 28px;
  border-radius: 26px;
  font-size: var(--font-12px);
  font-weight: 400;
}

/* 업로드 버튼 */
.btn-upload {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* 팔로우 버튼 */
.btn-follow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* end:button */

/* text-Active-input */
.input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 332px;
  height: 48px;
  background-color: var(--white);
}

.input-container label {
  font-size: var(--font-12px);
  font-weight: 500;
  line-height: 15.02px;
  color: var(--gray);
}

.input-container .input-info {
  font-size: var(--font-14px);
  border: none;
  height: 33px;
}

.input-container .input-info:focus {
  outline: none;
  border-bottom: 1px solid var(--orange);
}

.input-container .span-caution {
  /* display: none; */
  position: absolute;
  left: 0;
  bottom: -18px;
  color: var(--red);
  font-size: var(--font-12px);
}

/* end:text-Active-input */

/* product */
#product {
  position: relative;
  width: 140px;
  height: 132px;
}

.img-product {
  position: absolute;
  width: 140px;
  height: 90px;
  left: 0px;
  top: 0px;
  border: 0.5px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 8px;
}

.p-text {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  position: absolute;
  color: var(--black);
  left: 2px;
  top: 96px;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-14px);
  line-height: 17.53px;
}
.p-price {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  position: absolute;
  left: 2px;
  top: 118px;
  color: var(--orange);
  font-weight: 700;
  font-style: normal;
  font-size: var(--font-12px);
  line-height: 15.02px;
}

/* comment */

#comment {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-basic-profile {
  width: 36px;
  height: 36px;
}

.input-text {
  display: flex;
  align-items: center;
  width: calc(100% - 126px);
  height: 40%;
  font-size: 0.875rem;
  color: #767676;
  border: transparent;
  outline: none;
  border: none;
  line-height: 10px;
  padding: 0.2em;
  margin-top: 0.5em;
  resize: none;
  line-height: 1rem;
}

.input-text::placeholder {
  color: #c4c4c4;
  line-height: rem;
}

.p-submit {
  width: 50px;
  font-size: var(--font-14px);
  font-weight: 500;
  line-height: 1.5;
  color: #c4c4c4;
  cursor: pointer;
  text-align: center;
}

/* tab-menu */
#tab-menu {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid #c4c4c4;
}

#tab-menu button {
  width: 20%;
  height: 100%;
  background-size: 1.25rem;
  position: relative;
  cursor: pointer;
  border: none;
}

.button-home {
  background: url("../src/icon-home-fill.png") no-repeat center;
}
.button-circle1 {
  background: url("../src/icon-message-circle-1.png") no-repeat center;
}
.button-edit {
  background: url("../src/icon-edit.png") no-repeat center;
}
.button-profile {
  background: url("../src/icon-user.png") no-repeat center;
}

#tab-menu button .p-home {
  color: #f26e22;
}

#tab-menu button p {
  position: absolute;
  bottom: -0.5em;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #767676;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 14px;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* delete alert */
#alert {
  border-radius: 4px;
  width: 252px;
  height: 110px;
  border: 0.5px solid #dbdbdb;
  line-height: 62px;
  text-align: center;
}

.p-check {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  text-align: center;
  font-size: var(--font-16px);
  font-weight: 500;
  width: 100%;
  border-bottom: 0.5px solid #dbdbdb;
}

.div-choice {
  display: flex;
}

.p-cancle,
.p-delete {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 400;
  text-align: center;
  width: 50%;
  line-height: 46px;
  cursor: pointer;
}

.p-delete {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  border-left: 0.5px solid #dbdbdb;
  color: var(--orange);
}
