/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* global settings */
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* user */
/* user-search */
.user-search {
  position: relative;
  --user-search-profile: 50px;
}

.user-search .img-profile {
  width: var(--user-search-profile);
  height: var(--user-search-profile);
  margin-right: 12px;
}

.user-search .wrap-txt {
  display: inline-block;
  position: absolute;
  top: 5px;
}

.user-search .wrap-txt .txt-title,
.user-search .wrap-txt .txt-nickname {
  display: block;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.user-search .wrap-txt .txt-title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}

.user-search .wrap-txt .txt-nickname {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}


/* user-search-more */
.user-search .btn-more {
  position: absolute;
  top: 5px;
  right: 0;
  width: 18px;
  height: 18px;
}

.user-search .img-more {
  width: 100%;
}

/* user-search-follow */
.user-search .btn-follow {
  background-color: #f26e22;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* end: user */

/* home */
/* home-post */
.home-post {
  --home-post-profile: 42px;
}

.home-post .img-profile {
  width: var(--home-post-profile);
  height: var(--home-post-profile);
}

.home-post .wrap-content {
  margin-top: 16px;
  padding-left: calc(var(--home-post-profile) + 12px);
}

.home-post .wrap-content .txt-content {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}

.home-post .wrap-content .ul-btns {
  margin-top: 16px;
  display: flex;
  color: #767676;
  font-size: 12px;
  line-height: 12px;
}

.home-post .wrap-content .ul-btns .li-btn {
  margin-right: 16px;
}

.home-post .wrap-content .ul-btns .li-btn img {
  width: 20px;
  height: 20px;
}

.home-post .wrap-content .txt-date {
  margin-top: 16px;
  color: #767676;
  font-size: 10px;
  line-height: 12px;
}
/* end: home */

/* top */
.top-basic-nav, .top-search-nav, .top-main-nav, .top-upload-nav, .top-chat-nav {
  width: 100%;
  height: 48px;
  position: relative;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.img-left-arrow {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 13px;
  left: 16px;
  cursor: pointer;
}

.img-vertical {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.top-search-nav .inp-search {
  width: 316px;
  position: absolute;
  top: 8px;
  right: 19px;
  box-sizing: border-box;
  padding: 7px 0 7px 16px;
  background-color: #F2F2F2;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-radius: 32px;
}

.txt-main-nav {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
  position: absolute;
  top: 13px;
  left: 16px;
}

.top-main-nav .img-search {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.top-upload-nav .btn-upload {
  width: 90px;
  height: 32px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 14px;
  border-radius: 32px;
  background-color: #FFC7A7;
  border: none;
  color: #FFFFFF;
}

.txt-chat-nav {
  position: absolute;
  top: 15px;
  left: 48px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 500;
}
/* end: top */

/* buttons */

/* text-Active-input */

/* product */

/* tab-menu */

/* comment */

/* delete alert */
