@import url("./component.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* body {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: auto;
} */

/* header */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header a img {
  width: 16px;
  height: 16px;
}

main {
  flex-grow: 1;
  overflow-y: scroll;
}
footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; */
  background-color: #fff;
}

footer {
  width: 100%;
}
.post-modal {
  position: fixed;
  width: 100%;
  max-height: 0;
  bottom: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  z-index: 20;
  background-color: var(--white);
  overflow: hidden;
  transition: 0.7s ease-in-out;
}

.post-modal::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 4px;
  transform: translateX(-50%);
  background-color: var(--light-gray);
  border-radius: 5px;
}

.post-modal button {
  width: 100%;
  height: 100%;
  padding: 26px 14px;
  color: var(--gray);
  text-align: left;
}

.post-modal button.off {
  display: none;
}

.show-modal {
  display: block;
  padding: 36px 0 5px 0;
  max-height: 300px;
}

#alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 20;
}

#alert.show {
  display: block;
}
