body {
  /* width: 390px; */
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.top-basic-nav {
  border-bottom: 1px solid #dbdbdb;
}
.home-post {
  flex-grow: 1;
}
.cont-reply {
  border-top: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 0 16px;
  height: 236px;
}

.cont-reply.off {
  display: none;
}
.cont-reply ul {
  height: 100%;
  overflow-y: scroll;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.cont-reply ul::-webkit-scrollbar {
  display: none;
}

.cont-reply li {
  margin: 16px 0;
}
.cont-reply li .user-reply {
  position: relative;
  --user-reply-profile: 36px;
}

.cont-reply li .user-reply .img-profile {
  width: var(--user-reply-profile);
  height: var(--user-reply-profile);
  margin-right: 12px;
  border-radius: 50%;
}

.cont-reply li .user-reply .wrap-txt {
  display: inline;
  position: absolute;
  top: 6px;
}

.cont-reply li .user-reply .wrap-txt .txt-after,
.cont-reply li .user-reply .wrap-txt .txt-nickname {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.cont-reply li .user-reply .wrap-txt .txt-nickname {
  font-size: 14px;
}

.cont-reply li .user-reply .wrap-txt .txt-after {
  font-size: 10px;
  color: var(--gray);
}

.cont-reply li .user-reply .wrap-txt .txt-after::before {
  content: "· ";
}

.cont-reply li .user-reply .btn-more {
  position: absolute;
  top: 5px;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../src/s-icon-more-vertical.png) no-repeat;
  background-size: cover;
}

.cont-reply li .user-reply .img-more {
  width: 100%;
}

.cont-reply li .user-reply .txt-reply {
  padding: 4px 4px 0 48px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

#comment {
  border-top: 1px solid #dbdbdb;
}
