body {
  /* width: 390px; */
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.top-basic-nav {
  border-bottom: 1px solid #dbdbdb;
}
.home-post {
  flex-grow: 1;
}
.cont-reply {
  border-top: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 0 1em;
  height: 236px;
}

.cont-reply.off {
  display: none;
}
.cont-reply ul {
  height: 100%;
  overflow-y: scroll;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.cont-reply ul::-webkit-scrollbar {
  display: none;
}

.cont-reply li {
  margin: 1em 0;
}
.cont-reply li .user-reply {
  position: relative;
  --user-reply-profile: 36px;
}

.cont-reply li .user-reply .img-profile {
  width: var(--user-reply-profile);
  height: var(--user-reply-profile);
  margin-right: 0.75em;
  border-radius: 50%;
}

.cont-reply li .user-reply .wrap-txt {
  display: inline;
  position: absolute;
  top: 6px;
}

.cont-reply li .user-reply .wrap-txt .txt-after,
.cont-reply li .user-reply .wrap-txt .txt-nickname {
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.cont-reply li .user-reply .wrap-txt .txt-nickname {
  font-size: var(--font-14px);
}

.cont-reply li .user-reply .wrap-txt .txt-after {
  font-size: var(--font-10px);
  color: var(--gray);
}

.cont-reply li .user-reply .wrap-txt .txt-after::before {
  content: "· ";
}

.cont-reply li .user-reply .btn-more {
  position: absolute;
  top: 5px;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../src/s-icon-more-vertical.png) no-repeat;
  background-size: cover;
}

.cont-reply li .user-reply .img-more {
  width: 100%;
}

.cont-reply li .user-reply .txt-reply {
  padding: 0.286em 0.286em 0 3.429em;
  font-size: var(--font-14px);
  line-height: 18px;
  color: #333333;
}

#comment {
  border-top: 1px solid #dbdbdb;
}

/* ash 수정 */
#comment {
  box-sizing: border-box;
  padding: 0.813em 1em;
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
}
.img-basic-profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 1.125em;
}

.input-text {
  flex-grow: 1;
  font-size: var(--font-14px);
  line-height: 18px;
  height: 18px;
  border: transparent;
  margin-right: 1.286em;
  overflow-y: scroll;
  resize: none;
}

/* .input-text::-webkit-scrollbar {
  display: none;
} */
.input-text::placeholder {
  color: #c4c4c4;
}

.input-text:focus {
  outline: none;
}

/* .p-submit {
  position: absolute;
  top: 23px;
  left: 348px;
  width: 30px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.53px;
  color: #c4c4c4;
  cursor: pointer;
} */

/* ash 수정: p-submit -> btn-submit*/
.btn-submit {
  width: 30px;
  font-size: var(--font-14px);
  font-weight: 500;
  line-height: 17.53px;
  color: var(--orange);
}

/* ash 추가 */
.btn-submit:disabled {
  color: #c4c4c4;
}
