body {
  width: 390px;
}

.top-upload-nav {
  border-bottom: 1px solid #dbdbdb;
}

#upload {
  position: relative;
  padding: 20px 0 0 16px;
}

#upload::after {
  content: "";
  display: block;
  clear: both;
}

#upload .img-basic-profile {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 42px;
  height: 42px;
  float: left;
}

#upload .cont-content {
  box-sizing: border-box;
  display: block;
  float: right;
  max-width: 316px;
}

#upload .input-txt {
  box-sizing: border-box;
  display: inline-block;
  width: 304px;
  min-height: 50px;
  max-height: 300px;
  overflow-y: scroll;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  border: transparent;
  background-color: transparent;
}

.input-txt::-webkit-scrollbar {
  display: none;
}

.input-txt:focus {
  outline: none;
}

.cont-preview {
  margin-top: 12px;
  white-space: nowrap;
  overflow-x: scroll;
}

.cont-preview::-webkit-scrollbar {
  display: none;
}

.cont-preview .cont-img:only-child {
  width: 304px;
  height: 228px;
}
.cont-preview .cont-img {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 168px;
  height: 126px;
}

.cont-preview .cont-img .img-preview {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont-preview .cont-img button {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../src/icon-close.png) no-repeat;
  background-size: cover;
}

.btn-img-upload {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f26e22;
}

.btn-img-upload .img-img-upload {
  width: 28px;
  height: 28px;
}

.btn-img-upload .inp-imgs {
  display: none;
}
